<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DOM控制系统调试平台</title>
    <link rel="shortcut icon" href="/static/public_debugTool/favicon.ico">
    
    <link href="/static/public_debugTool/app.css?2aca8ab77e270b41b417" rel="stylesheet"></head>
    
  <body>
    <div id="container" style="width: 100%;height: 100%;"></div>
    
    <script type="text/javascript" src="/static/public_debugTool/manifest.bundle.js?2aca8ab77e270b41b417"></script>
    
    <script type="text/javascript" src="/static/public_debugTool/vendorReact.bundle.js?2aca8ab77e270b41b417"></script>
    
    <script type="text/javascript" src="/static/public_debugTool/vendorChartjs.bundle.js?2aca8ab77e270b41b417"></script>
    
    <script type="text/javascript" src="/static/public_debugTool/vendorEcharts.bundle.js?2aca8ab77e270b41b417"></script>
    
    <script type="text/javascript" src="/static/public_debugTool/vendorTools.bundle.js?2aca8ab77e270b41b417"></script>
    
    <script type="text/javascript" src="/static/public_debugTool/app.bundle.js?2aca8ab77e270b41b417"></script>
    
  </body>
</html>
