<!doctype html>

<head>
    <title>Data Interface Test</title>
    <link href="/static/content/index.css" rel="stylesheet"/>
    <link href="/static/scripts/lib/bootstrap/responsive-nav/responsive-nav.css" rel="stylesheet"/>
    <link href="/static/scripts/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/scripts/lib/bootstrap/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css"
          rel="stylesheet"/>
</head>

<body>

 <div class="container">
<ul class="nav nav-tabs">
   <li class="active" id = "BtnThirdParty"><a href="#">Third party Interface Test</a></li>
   <li class="" id = "ServerManager"><a href="#">Server Manager</a></li>
   <li class="" id ="BtnPointMonitor"><a href="#">Point Monitor</a></li>
   <li class="disabled" id = "RealtimeCurve"><a href="#">Realtime Curve</a></li>
   <li class="disabled" id = "LogicDebug"><a href="#">Logic Debug</a></li>
</ul>
 </div>


 <div class="container" id = "mainContainer">


 </div>

     <script src="/static/scripts/lib/jquery-1.11.1.min.js"></script>
    <script src="/static/scripts/lib/spin.js"></script>
    <script src="/static/scripts/lib/bootstrap/responsive-nav/responsive-nav.min.js"></script>
    <script src="/static/scripts/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/scripts/testPost.js"></script>
</body>

